<table>
	<tr>
		<td>Ogniskowa</td><td>{{focalLength}}mm (35mm odpowiednik)</td>
	</tr>
	<tr>
		<td>Wartość ekspozycji </td><td>{{sceneEV}}EV</td>
	</tr>
	{{#layers}}
	<tr>
		<td>Odległość do {{name}}</td><td>{{focalDistance}}m</td>
	</tr>
	{{/layers}}
</table>
<p>
{{description}}
{{^description}}Brak opisu{{/description}}
</p>
